* {
  margin: 0;
  padding: 0;
  color: #f1f1f1;
}

body {
  font-family: "Montserrat";
  line-height: 24px;
  /* background: url(images/noise.jpg); */
  background-color: #2a2a2a;
}

.clear {
  clear: both;
}

#page-wrap {
  /* width: 900px; */
  min-width: 900px;
  max-width: 1200px;
  margin: 10px auto;
  padding: 40px;
}

#pic {
  float: right;
  margin: -20px 0 0 0;
  height: 250px;
  width: 250px;
  scale: 1;
  transform-origin: top right;
  transform: scale(1);
  transition: transform 160ms;
}

#pic:hover {
  transform: scale(1.25);
}

p {
  margin: 0 0 16px 0;
}

a {
  color: #999;
  text-decoration: none !important;
  border-bottom: 1px solid #d1d1d1;
}

a:hover {
  border-color: #fff;
  color: #fff;
}

ul {
  margin: 0 0 32px 17px;
}

#objective {
  width: 600px;
  margin: 32px;
  /* float: left; */
}

#objective p {
  color: #999;
}

i {
  margin-right: 10px;
}

.w-200 {
  width: 200px;
}

.icon {
  width: 16px;
}

.icon2x {
  font-size: 26px;
  /* margin-right: 16px; */
}

.skillBox:hover {
  transform: scale(1.1);
  background-color: #f1f1f1;
}

.skillBox:hover p {
  color: #191919;
  font-weight: bold;
}

.skillBox {
  background-color: inherit;
  box-sizing: border-box;
  width: 100%;
  margin: 8px 2px;
  transform: scale(1);
  padding: 8px;
  border-radius: 2px;
  transition: all 160ms ease;
}

.skillBox p {
  text-transform: uppercase;
  font-size: 16px;
  /* font-weight: bold; */
  margin: 2px;
  padding: 0;
  letter-spacing: 1px;
}

.skill:hover {
  background-color: #2a2a2a;
}

.skill {
  background: #191919;
  padding: 4px;
  box-sizing: border-box;
  border: 1px solid #9248da;
  border-radius: 2px;
  transition: background-color 160ms;
}

.skill_level {
  background: #822ad6;
  /* width: 100%; */
  height: 10px;
  border-radius: 2px;
}
